[Unit]
Description=Chromium Log Monitor
Requires=slideshow-player.service
PartOf=slideshow-player.service
After=graphical.target

[Service]
Type=simple
User=orangepi 
ExecStart=%PLAYER_UTIL_SCRIPTS_DIR%/chromium-log-monitor
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
