[Unit]
Description=Run display.sh script at startup
After=graphical.target

[Service]
Type=simple
User=orangepi
Environment=WAYLAND_DISPLAY=wayland-0
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/bin/bash %PLAYER_UTIL_SCRIPTS_DIR%/display.sh
Restart=on-failure
RestartSec=3
StandardOutput=file:%PLAYER_LOGS_DIR%/display_setup.log
StandardError=file:%PLAYER_LOGS_DIR%/display_setup.log

[Install]
WantedBy=graphical.target
